html {
  zoom: 150%;
} 

body {
font-size: x-large;
margin: 0;
background: url(https://cdn.discordapp.com/attachments/795758905904988200/935466832754769970/speed-lines-composed-of-glowing-backgrounds-abstract-background-vector.png) no-repeat 50% fixed;
background-size: cover;
color: rgb(230, 224, 224);
font-family: Arial;
text-align: center;
}

button {
  font-size: 20px;
}


table {
  font-family: arial, sans-serif;
  background-color: #0f037c;
  border: solid #ffffff;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 0px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr {
  height: 60px;
}
input {
  font-size:x-large;
  text-align:center;
  color: rgb(63, 63, 63);
  background-color: #FFFFFF;
  border: 0px;
  padding: 5px;
}

caption {
  font-size:xx-large;
  }

label {
  font-size: 17px;
}